<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
        }
        #mydiv1 {
            float: left;
            width: 600px;
            background: lightblue;
        }
        #mydiv2 {
            float: right;
            width: 600px;
            margin-right: -200px;
            background: red;
        }
    </style>
</head>
<body>
<div id="mydiv1">First</div>
<div id="mydiv2">Second</div>
</body>
</html>